{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    {% block title %}
        <title>LITReview</title>
    {% endblock %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<nav>
  <ul>

      {% if request.user.is_authenticated %}
      <li><a href="{% url 'followers:logout' %}">déconnexion</a></li>
      <li><a href="{% url 'followers:profile' %}">bonjour {{ user.username }}</a></li>
      {% else %}
      <li><a href="{% url 'followers:login' %}">Se connecter</a></li>
      {% endif %}
      <li><a href="{% url 'reviews:home' %}">Post</a></li>
      <li><a href="{% url 'followers:follow' %}">Abonnements</a></li>
      <li><a href="{% url 'reviews:feed' %}">Flux</a></li>

  </ul>

</nav>

    <section id="blog">

        {% block content %}
        {% endblock %}

    </section>
</body>
</html>