{% extends 'base.html' %}

{% block content %}
  <h2>Suivre d'autres utilisateurs</h2>
<form method="post">
    {% csrf_token %}
    {% for field in form %}
        <div class="form-group {% if field.errors %}has-error{% endif %}">
            {{ field.label_tag }} {{ field }}
            {% for error in field.errors %}
                <p class="help-block">{{ error }}</p>
            {% endfor %}
        </div>
    {% endfor %}
    <button type="submit">S'abonner</button>
</form>
    <h2>Abonnements</h2>
        <ul>
        {% for user in followed_users%}
        <li>{{ user.username }} <a>Se désabonner</a></li>
        {% endfor %}
        </ul>
    <h2>Abonnées</h2>
        <ul>
        {% for user in follow_by %}
        <li>{{ user.user }}</li>
        {% endfor %}
        </ul>
{% endblock %}

