{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container">
  <div class="post">
      <div class="post-content">
        <h2>Connexion</h2>
        <p>Bienvenu sur LITReview</p>
            <form method="post">
              {% csrf_token %}
              {{ form.as_p }}
              <button type="submit">Se connecter</button>
            </form>
            <p>Pas de compte? <a href="{% url 'followers:signup' %}">S'inscrire</a></p>
          </div>
      </div>
  </div>
</div>
          {% endblock %}