{% extends 'base.html' %}

{% block title %}
 <title>{{ review.headline }}</title>
{% endblock %}

{% block content %}
    <article class="post-detail">
        <h1>{{ review.headline }}</h1>
        <p>Note: {{ review.rating }}/5</p>
        <p>Posté par {{ review.user }} le {{ review.time_created|date:'j F Y' }}</p>
        <div>{{ review.body }}</div>
        <form action="{% url 'reviews:home' %}">
            <button>Retour à l'accueil</button>
        </form>
    </article>

{% endblock %}