{% extends 'base.html' %}

{% block title %}
    <title>Consulter les Reviews</title>
{% endblock %}
{% block content %}
  <h1>Consulter les Reviews</h1>
    {% for review in reviews %}
      <article class="review-card">
        <div class="review-card-left">
            {% if review.ticket and review.ticket.image %}
              <img src="{{ review.ticket.image.url }}" alt="{{ review.headline }}">
            {% endif %}
        </div>
        <div class="review-card-right">
            <h5>Publié par <i>{{ review.user }}</i> le {{ review.time_created|date:'j F Y' }}</h5>
            <h2>{{ review.headline }}</h2>
            <p>{{ review.body |safe|truncatewords:50 }}</p>
        </div>
      </article>
    {% endfor %}
{% endblock %}