{% block content %}
    {% if post.content_type == 'TICKET' %}
      <article class="ticket-card">
        <div class="ticket-card-right">
            {% if post.ticket and post.ticket.image %}
            <img src="{{post.ticket.image.url }}" alt="{{ post.title }}">
            {% endif %}
            <h5> <i>{{ post.user }}</i> a demandé une critique  <i>le {{ post.time_created|date:'j F Y' }}</i></h5>
            <h2>{{ post.title }}</h2>
            <p>{{ post.description |safe|truncatewords:50 }}</p>
            <form action="{% url 'reviews:reply_to_ticket' post.id %}">
                <button class="btn-edit-review">Demander une critique</button>
            </form>
        </div>
      </article>
    {% endif %}
{% endblock %}
