{% extends 'base.html' %}

{% block title %}
    <title>Consulter les Tickets</title>
{% endblock %}
{% block content %}
  <h1>Consulter les Reviews</h1>
    {% for ticket in tickets %}
      <article class="review-card">
        <div class="review-card-left">
            {% if review.ticket and review.ticket.image %}
              <img src="{{ ticket.ticket.image.url }}" alt="{{ ticket.headline }}">
            {% endif %}
        </div>
        <div class="review-card-right">
            <h5>Publié par <i>{{ review.user }}</i> le {{ review.time_created|date:'j F Y' }}</h5>
            <h2>{{ ticket.headline }}</h2>
            <p>{{ ticket.body |safe|truncatewords:50 }}</p>
        </div>
      </article>
    {% endfor %}
{% endblock %}